{% extends "layout.html" %}
{% block main %}
<h1>Codenames</h1>
<p class="flow-text">Use the link below to generate a unique keycard for use in a round of Codenames. Share the link to the page with any spymasters for the round. To create a new card, come back to this page, using the Home link in the footer,  and do the same thing.</p>
<a class="btn waves-effect waves-light" href="keycard" target="_blank">
    Generate keycard
    <i class="material-icons right">send</i>
</a>
    <br/><br/>
<a class="btn waves-effect waves-light" href="namecards" target="_blank">
    Generate new game
    <i class="material-icons right">send</i>
</a>

{% endblock %}