{% extends "layout.html" %}

{% block main %}
<h2 class="badge-info {{ team }}-text">{{team}}</h2>
{% for x in range(5) %}
<div class="row">
    {% for y in range(5) %}
    {% set ctype = grid.loc[(x,y)].card %}
    <div class="col s2 m2 l1">
        <p class="{{ctype}} lighten-1 card-panel white-text">
            <!-- {{ x + 1 }} {{ y + 1 }} -->
        </p>
    </div>
    {% endfor %}
</div>
{% endfor %}
<a class="btn waves-effect waves-light" href="{{url_for('keycard')}}/{{gridcode}}">
    Send <i class="material-icons right">send</i>
</a>
{% endblock %}