{% extends "layout.html" %}

{% block main %}

{% for x in range(5) %}
<div class="row">
    {% for y in range(5) %}
    {% set name = grid.loc[(x,y)].card %}
    <div class="col s2 m2 l2">
        <div class="card-panel" style="text-align: center; width:100%;"
             title="{{ name | upper }}: {{ x + 1 }} {{ y + 1 }}">
            <p class=""><b>{{ name | upper }}</b></p>
        </div>
    </div>
    {% endfor %}
</div>
{% endfor %}

<a class="btn waves-effect waves-light" href="keycard" target="_blank">
    Generate keycard
    <i class="material-icons right">send</i>
</a>

<div class="row">
    <a class="btn" style="float:right;" href="/">HOME</a>
</div>

{% endblock %}